@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*===========================================================================
	CSS 초기화
============================================================================*/
* {font-family: 'Noto Sans KR', 'Open Sans' ,sans-serif;  box-sizing:border-box; margin:0; padding:0; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, i, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, menu, nav, section, video, a {border:0; outline:0; font-size:100%; color:#222; line-height:1;}
body {line-height:1;}
h1, h2, h3, h4, h5, h6 {line-height: 1.5;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ul, ol, li {list-style:none;}
strong {display: inline-block;}
a {margin:0; padding:0; font-size:100%; }
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle;}
select {position: relative; padding:8px 12px; font-size:16px; border: 1px solid #e1e1e1; appearance: none; -webkit-appearance:none;  background:url('../images/icon/icon_arrow_btm.svg') no-repeat right 10px center / 18px; border-radius: 8px;}
select::after {  content: ''; position: absolute; top: 0; right: 0; background:url('../images/icon/icon_arrow_down_m.svg'); pointer-events: none;}
p {line-height:1.5;}
img {width: 100%; object-fit: cover;}
span {display: inline-block;}
input {padding:8px 12px; font-size:16px;}
label {font-size:18px;}
input[type="checkbox"] {appearance: none;}
button {cursor:pointer; background:#ECECEC; color:#222; padding:4px; border-radius: 2px;}
a {display: block; text-decoration: none;}
input[type="text"], input[type="password"],input[type="email"], button, textarea {border:1px solid #e1e1e1; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
textarea {resize: none; padding:14px; font-size: 16px;}
.col-group {display:flex; align-items: center;}
.row-group {display:flex; flex-direction: column;}
.submit-group {text-align: center;}
.submit-group button {font-size: 14px; font-weight: 400; position: relative; margin: 0 auto; padding: 0; width: 144px; border: 1px solid #d3d3d3; text-align: center; height: 50px; line-height: 50px;}
.btn-group {display: flex; align-items: center; }
.btn-group button {font-size: 16px; font-weight: 400; position: relative; padding: 0; width: 144px; border: 1px solid #d3d3d3; text-align: center; height: 44px;}
.btn-group a {font-size: 14px; font-weight: 400; padding:20px 42px; min-width: 144px; border: 1px solid #d3d3d3; background: #fff; text-align: center; margin-right:20px;}
.btn-group a:last-child {margin-right: 0;}
.main-btn {background: #9FA4D4 !important; color:#fff; font-weight: 400; border-radius: 8px;}
/*===========================================================================
	공통요소
============================================================================*/
.container {width:1200px; height:100%; margin:0 auto;}
.main-color {color:#5b86a3}
.main-bg {background:#5b86a3}
h2.tit {font-size:28px; margin-bottom:80px; font-weight: 600; text-align: center;}
.top-tit {width: 30%; padding:18px 30px; margin-bottom: 30px; font-size:20px; color:#fff; text-align: right;}
.sub-tit {font-size:18px; margin-bottom:20px;}
section {margin-bottom:80px; }
.txt-box {margin-top: 20px;}
.txt-box .tit {font-size:20px; font-weight: 600; margin: 0 0 14px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; }
.txt-box .description {font-size:16px; overflow:hidden; margin-bottom:20px; white-space: normal; line-height: 1.3; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.txt-box .date {float:right; font-size:14px; color:#999;}
.intro-txt-group {margin-bottom:40px;}
.intro-txt-group p {font-size:20px; line-height: 1.7;}
.top-group {align-items: flex-start; margin:40px 0 50px;}
.top-group .left {width: 60%;}
.top-group .left.banner-box {height: 460px;}
.top-group .left.banner-box img {height: 100%;}
.top-group .right {width: 40%; text-align: center; padding:80px 20px;}
.top-group .right h2 {font-size:46px; font-weight: 900;}
.top-group .right p {font-size:20px; font-weight: 600;}
.top-description {margin-bottom:40px;}
.top-description h3 {font-size:24px; margin-bottom:14px; font-weight: bold;}
/*===========================================================================
	네비게이션
============================================================================*/
.navigator {width:230px; height:calc(100vh - 80px); border-right:1px solid #e2e2e2; overflow:hidden;}
.navigator > ul > li p {padding:16px; border-bottom:1px solid #e2e2e2; transition:.2s;font-weight: normal; cursor:pointer;}
.navigator > ul > li p img {float: right; width: 20px; margin: -3px 0 0 4px;cursor: pointer;}
.navigator > ul > li > a {padding:16px; border-bottom:1px solid #e2e2e2;font-size:14px;transition: .2s}
.navigator > ul > li a:hover {background:#e2e2e2;}
.navigator > ul > li > ul {display:none; border-bottom:1px solid #e2e2e2;}
.navigator > ul > li > ul li a {display:block; padding:10px 14px; font-size:14px;}
.navigator > ul > li > .arrow img{transition: all ease .4s;}
.rotate {transform: rotate(-180deg);}

.pagination {margin-top: 40px; justify-content: center;}
.pagination a {width: 34px; height: 34px; line-height: 30px; border: 1px solid #dedede; border-right: 0; text-align: center;}
.pagination a:last-child {border-right: 1px solid #dedede;}
/*===========================================================================
	테이블
============================================================================*/
table {width:100%; margin-top:20px; font-size:14px; border-collapse:collapse; border-spacing:0}
table tr {border-bottom:1px solid #e2e2e2;}
table th {padding:20px 0; background:#f9f9f9;}
table td {padding:10px 2px; vertical-align: middle; text-align: center;} /* height:140px;  */
table td.tit {font-size:14px; font-weight:500;}
table .btn-group {display:flex;justify-content: center;}
table .btn-group a {line-height:1;}
table .btn-group a {float: left;}
table .btn-modify {background: #006551;}
table .btn-delete {background:gray; margin-left:10px}
table .btn_enquiry_delete {background:gray; margin-left:0px}

/*===========================================================================
	팝업
============================================================================*/
/* 메인페이지 - 팝업 기본 */
.pop-wrap .el-dialog {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width: auto; width: auto; max-width: 632px; border-radius: 40px;  margin-top:0 !important;}
.pop-wrap .el-dialog__header {padding:40px 40px 10px;}
.pop-wrap .el-dialog__header .el-dialog__headerbtn {font-size:30px; top:32px;}
.pop-wrap .el-dialog__header .el-dialog__headerbtn .el-dialog__close {color:#222;}
.pop-wrap .el-dialog__header .el-dialog__title {font-size:26px; font-weight: bold; line-height: 1.5; word-break: keep-all;}
.pop-wrap .el-dialog--center .el-dialog__body {padding:30px 30px 50px;}
.pop-wrap form .content {display: flex; align-items: center; margin-bottom: 20px;}
.pop-wrap form .content:last-child {margin-bottom: 00px;}
.pop-wrap form .content label {display: block; width: 110px; font-weight:400; margin-bottom: 6px; font-size:16px; cursor:pointer;}
.pop-wrap form .content > .col-group {width:calc(100% - 110px);}
.pop-wrap form .content input {width: 100%; border-radius: 8px;}
.pop-wrap form .content .email-group input, .pop-wrap form .content .email-group select {width: 50%;}
.pop-wrap form .content .email-group span {font-size:13px; margin:0 4px;}
.pop-wrap form .content .email-confirm-group button {width: 100px; height: 48px; font-size:15px; font-weight: bold;}
.pop-wrap form .content .timer {margin-left: 12px; color:#e31100; font-size:13px; white-space: nowrap;}
.pop-wrap2 form .content > .col-group {margin: 0 auto;}
.pop-wrap3 form .content .email-confirm-group {width: 100%; justify-content: center;}
.pop-wrap3 form .content .email-confirm-group button {width: 250px; height: 56px; font-size:18px; font-weight: 400;}
.pop-wrap form .btn-group {justify-content: center; margin-top: 40px;}
/* 로그인페이지 - 팝업 */
.login-pop-wrap .el-dialog--center .el-dialog__body {padding:10px 30px 50px;}
.login-pop-wrap .img-box {margin-bottom: 20px; text-align: center; padding:30px 10px; background:#f5f5f5;}
.login-pop-wrap .img-box img {width: auto; object-fit: cover;}
.login-pop-wrap .sns-btn-group {display: block;}
.login-pop-wrap .sns-btn-group button {display: block; width: 100%; height: 62px; font-size:20px; text-align: center; border-radius: 8px; margin-bottom: 20px;}
.login-pop-wrap .sns-btn-group .kakao-btn {background: url(../images/icon/icon-kakao.svg) no-repeat 24px; background-color:#FFDE00; background-size:30px; border:1px solid #FFDE00;}
.login-pop-wrap .sns-btn-group .google-btn {background: url(../images/icon/icon-google.svg) no-repeat 24px; background-size:30px;}

/* 강의실 생성하기 - 팝업 */
.leacture-pop-wrap .el-dialog--center .el-dialog__body {padding-top: 10px;}
.leacture-pop-wrap h4 {text-align: center; font-size:15px; font-weight: 400; color:#505050; margin-bottom: 20px;}
.leacture-pop-wrap form .file-cont {position: relative; height: 200px; margin-bottom: 40px; border-radius: 8px; overflow:hidden; cursor: pointer;}
.leacture-pop-wrap form .file-cont input[type="file"] {opacity: 0; position: absolute; top:0; left:0; width: 100%; height: 100%;}
.leacture-pop-wrap form .content select {width: 100%;}
.leacture-pop-wrap form .btn-group .cancel-btn {border-radius:8px; background:#fff; margin-right: 16px;}
.leacture-pop-wrap form .btn-group .create-btn {}

/* 학생 정보 입력 - 팝업 */
.student-info-pop-wrap .el-dialog {width: 632px !important;}
.student-info-pop-wrap h4 {margin-bottom: 40px;}
.student-info-pop-wrap .student-type {display: flex; align-items: center; border-radius: 8px; padding:10px 12px; border:1px solid #dbdbdb;}
.student-info-pop-wrap form .content label {margin-bottom: 0;}
.student-info-pop-wrap .student-type .el-radio__inner {width: 20px; height: 20px;}
.student-info-pop-wrap .student-type .el-radio__input.is-checked .el-radio__inner {border:2px solid #dbdbdb; background:#fff;}
.student-info-pop-wrap .student-type .el-radio__inner::after {width: 8px; height: 8px; background:#333;}
.student-info-pop-wrap .student-type .el-radio__label {color:#767676;}
.student-info-pop-wrap .student-type .el-radio__input.is-checked+.el-radio__label {color:#767676;}
.student-info-pop-wrap .phone-group {}
.student-info-pop-wrap .phone-group span {margin:0 10px;}
/*===========================================================================
	탭
============================================================================*/
.tabs {text-align: center;}
.tabs li{display: inline-block; width: 200px; height:54px; line-height:54px; border:1px solid #dbdbdb; background: #fff; font-size:14px; color: #999; cursor: pointer;}
.tabs li.current {background: #dbdbdb; color: #222; font-weight: 600;}
.tab-content{display: none; background:#dbdbdb; padding:60px 20px;}
.tab-content-child{display: none; }
.tab-content .cont-tit {margin-bottom: 20px; border-top:2px solid #e3d5bb; border-bottom:2px solid #e3d5bb;}
.tab-content .cont-tit .type {width: 240px; font-size:30px; background:#ab703f; padding:30px 0; }
.tab-content .cont-tit .type p {color:#fff; text-align: center;}
.tab-content .cont-tit .type p strong {font-size:60px; color:#fff; font-weight: bold;}
.tab-content .cont-tit .txt {font-size:28px; padding:40px; font-weight: bold;}
.tab-content .cont-tit .txt p strong {color:#ab703f; font-weight: bold;}
.tab-content.current{display: inherit;}
.tab-content-child.current{display: inherit;}
.pc {display:block !important;}
.mobile {display:none !important;}

/*===========================================================================
	포스터
============================================================================*/
.post-group ul {flex-wrap:wrap;}
.post-group ul li {width: calc(25% - 8px); margin:0 10px 10px 0; padding:10px;}
.post-group ul li:nth-child(4n) {margin-right:0;}
.post-group ul li .img-box {height: 200px;}
.post-group ul li .img-box img {height: 100%;}

/*===========================================================================
	포스터 상세페이지
============================================================================*/
.post-detail {border:1px solid #e1e1e1; padding:20px; border-radius:2px;}
.post-detail .detail-header {margin-bottom: 40px;}
.post-detail .detail-header .tit {font-size:26px; margin-bottom:14px;}
.post-detail .detail-header .date {color:#999;}
.post-detail .news-contents {font-size: 18px;}
.post-detail .news-contents p {line-height: 1.8;}

/*===========================================================================
	카탈로그
============================================================================*/
.catalog-group {margin-bottom:40px;}
.catalog-group li {position:relative;}
.catalog-group li p {position:absolute; top:0; left:0; display: inline-block; padding:14px; font-size:20px; font-weight: 600; background:rgba(255,255,255,0.8); transition:0.4s;}
.catalog-group li:hover p {background:#004563; color:#fff;}
.catalog-group {margin-bottom:40px;}
.catalog-group li {position:relative; width: calc(100% / 3); cursor: pointer;}

/*===========================================================================
	문의하기 form
============================================================================*/
.form-list {margin-bottom:20px;}
.form-list label {width: 200px;}
.form-list input {width: 60%; height:50px;}
.form-list textarea {width: 60%; height:300px;}
.agree-info-group .tit {font-size: 24px; font-weight: 300; margin: 80px 0 40px;}
.agree-info-group p {font-size: 20px; color: #333; font-weight: 300;}
.agree-info-group .collect-info {height: 180px; margin: 20px 0; border: 1px solid #d1d1d1; color: #666;}
.agree-info-group .agree-box { margin-bottom: 40px;}
.agree-info-group .agree-box label input {vertical-align: inherit;}
.agree-info-group .agree-box label span {margin:0 6px;}
.agree-info-group .agree-box input[type='radio']:checked:after {width: 10px; height: 10px; border-radius: 15px; top: 0px; left: 0px; position: relative; background-color: #5b86a3; content: ''; display: inline-block; visibility: visible; border: 2px solid #5b86a3;}
/*===========================================================================
	헤더
============================================================================*/
header {position:relative; height: 80px; border-bottom:1px solid #dbdbdb; background:#fff;}
header .pc {width: 100%;}
header .pc > .col-group {align-items: center; justify-content: space-between; padding:10px 0;}
header .gnb-group {margin-left:70px;}
header .gnb-group a {margin-right:64px; font-size:18px; padding:20px 0; font-weight: 500;}
header .gnb-group a:last-child {margin-right: 0;}
header .register-group button {font-size:16px; padding:10px 24px; margin-right:16px; border-radius: 8px; font-weight: 400; }
header .register-group button.login-btn {background:#fff;}
header .register-group button:last-child {margin-right: 0;}
header .register-group a {font-size:16px; padding:10px 24px; margin-right:16px; border-radius: 8px; font-weight: 400; line-height: 1.5; border:1px solid #dbdbdb;}
header .register-group a:last-child {margin-right: 0;}

/*===========================================================================
	푸터
============================================================================*/




/*===========================================================================
	반응형
============================================================================*/
@media (max-width:1200px) {
	.container {width: 100%; padding-left:20px !important; padding-right:20px !important;}
	header .gnb-group {margin-left: 40px;}
	header .gnb-group a {margin-right: 42px;}
}

@media (max-width:768px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
	h2.tit {font-size:24px;}
	/* 헤더 */
	header .mobile {width: 100%;}
	header .mobile > .col-group {justify-content: space-between;}
	header .menu {width: 40px; height: 40px; background:inherit; border:0;}
	header .side-menu-group {z-index: 100; position: fixed; top:0; left:0; width: 100vw; height: 100vh; background:#fff; padding:40px;}
	header .side-menu-group .side-menu-header {position:relative; width: 100%; height:40px; margin-bottom: 80px;}
	header .side-menu-group .side-menu-header img {position:absolute; top:0px; right:0px; width:40px; height:40px; cursor:pointer;}
	header .side-menu-group .side-menu-body {text-align: center;}
	header .side-menu-group .side-menu-body a {margin-bottom: 30px; font-size:24px; font-weight: bold;}
	header .side-menu-group .side-menu-body button {width: 100%; margin-bottom: 30px; font-size:24px; font-weight: bold; border:0; background:inherit;}

	/* 팝업 */
	.pop-wrap .el-dialog {width: 90% !important;}
	.pop-wrap .el-dialog__header .el-dialog__title {font-size:20px;}
}

@media (max-width:480px) {
	.pop-wrap form .content label {width: 60px; font-size:16px;}
	.pop-wrap form .content > .col-group {width: calc(100% - 60px);}
	.pop-wrap3 form .content > .col-group {width: 100%;}
	.login-pop-wrap .sns-btn-group button {font-size:18px;}
}