.main-wrap .banner { height: calc(100vh - 82px); } 
.main-wrap .banner .container { display: flex; align-items: center; justify-content: center; } 
.main-wrap .banner .txt-box {width: 60%; margin-top: 0; } 
.main-wrap .banner .txt-box h2 { font-size:40px; font-weight: normal; margin-bottom: 80px; word-break: keep-all;} 
.main-wrap .banner .txt-box h2 strong {font-size:52px; font-weight: bold; line-height: 1.5;}
.main-wrap .banner .txt-box .btn-group {} 
.main-wrap .banner .txt-box .btn-group button { width: 220px; height:auto; line-height: 1; border-radius: 8px; font-size:18px; font-weight: 400; padding:20px 42px; background:inherit; margin:0; margin-right:15px; } 
.main-wrap .banner .txt-box .btn-group a { width: 220px; border-radius: 8px; font-size:18px; font-weight: 400; margin-right:15px; } 

.login-wrap { height: calc(100vh - 80px); } 
.login-wrap .container { display: flex; align-items: center; justify-content: center; width: 500px; } 
.login-wrap .login-group { width: 100%; } 
.login-wrap .login-group h2 { text-align: center; } 
.login-wrap .login-group form { margin-bottom: 40px; } 
.login-wrap .login-group form .content { margin-bottom: 40px; } 
.login-wrap .login-group form .content label { display: block; font-weight:600; margin-bottom: 6px; } 
.login-wrap .login-group form .content input { width: 100%; } 
.login-wrap .login-group form .btn-group a { width: 100%; border-radius: 50px; } 
.login-wrap .login-group .sns-btn-group { display: block; } 
.login-wrap .login-group .sns-btn-group button { display: block; width: 100%; border-radius: 50px; margin-bottom: 20px; } 
.login-wrap .login-group .sns-btn-group .kakao-btn { background: url(../images/icon/icon-kakao.svg) no-repeat 24px; background-color:#FFDE00; } 
.login-wrap .login-group .sns-btn-group .google-btn { background: url(../images/icon/icon-google.svg) no-repeat 24px; } 

.signup-wrap { width: 100%; height: calc(100vh - 82px); } 
.signup-wrap .container { display: flex; align-items: center; justify-content: center; width: 500px; } 
.signup-wrap .signup-group { width: 100%; } 
.signup-wrap .signup-group form .content { margin-bottom: 40px; } 
.signup-wrap .signup-group form .content label { display: block; font-weight:600; margin-bottom: 6px; } 
.signup-wrap .signup-group form .content input { width: 100%; } 
.signup-wrap .signup-group form .content .phone-confirm-group button { width: 100px; height: 48px; font-size:15px; font-weight: bold; } 
.signup-wrap .signup-group form .content .phone-confirm-box input { border-top: 0; } 
.signup-wrap .signup-group form .agree-content label { cursor:pointer; } 
.signup-wrap .signup-group form .agree-content input { width:auto; } 
.signup-wrap .signup-group form .agree-content a { display: inline-block; text-decoration: underline; } 
.signup-wrap .signup-group form .btn-group { justify-content: center; } 
.signup-wrap .signup-group form .btn-group a { font-size:20px; font-weight: bold; } 

/* 마이페이지 */
.mypage-wrap { width: 100%; min-height: calc(100vh - 82px); padding:40px 0;}
.mypage-wrap h2 {display: flex; align-items: center; text-align: left; margin-bottom: 60px; font-size:26px; font-weight: 400;}
.mypage-wrap h2 .profile-img {width: 72px; height: 72px; border-radius: 50%; overflow: hidden; margin-right: 24px;}
.mypage-wrap h2 strong {font-size:32px; margin-right: 12px;}
.mypage-wrap .mypage-group h3 {display: flex; align-items: center; font-size:26px; margin-bottom: 12px; font-weight: 400;}
.mypage-wrap .mypage-group h3 .delete-btn {margin-left:auto; border:0; background:inherit;}
.mypage-wrap .mypage-group .leacture-list {display: flex; flex-wrap: wrap;} 
.mypage-wrap .mypage-group .leacture-list li {position: relative; width: calc((100% / 4) - 15px); margin:0 20px 20px 0;}
.mypage-wrap .mypage-group .leacture-list li:nth-child(4n) {margin-right: 0;}
.mypage-wrap .mypage-group .leacture-list li .el-checkbox {z-index: 10; position: absolute; top:12px; left:12px; width: 20px; height:20px;}
.mypage-wrap .mypage-group .leacture-list li .el-checkbox .el-checkbox__inner {width: 20px; height: 20px; }
.mypage-wrap .mypage-group .leacture-list li .el-checkbox__input.is-checked .el-checkbox__inner {background:#191919; border:1px solid #191919;}
.mypage-wrap .mypage-group .leacture-list li .el-checkbox .el-checkbox__inner::after {left: 7px; height: 10px; }
.mypage-wrap .mypage-group .leacture-list li a {display: block; width:100%; height:100%;}
.mypage-wrap .mypage-group .leacture-list li a .img-box {position: relative; max-height: 213px; border-radius: 12px; overflow: hidden;}
.mypage-wrap .mypage-group .leacture-list li a .img-box img {width: 100%; height: 100%;}
.mypage-wrap .mypage-group .leacture-list li a .img-box .hover-box {opacity: 0; position: absolute; top:0; left:0; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background:rgba(25, 25, 25, .6); transition:0.2s;}
.mypage-wrap .mypage-group .leacture-list li a .img-box:hover .hover-box {opacity: 1;}
.mypage-wrap .mypage-group .leacture-list li a .img-box .hover-box svg path:first-child {stroke-width: 2px; stroke:#767676;}
.mypage-wrap .mypage-group .leacture-list li a .img-box .hover-box svg path:last-child {stroke-width: 2px; stroke:#fff;}
.mypage-wrap .mypage-group .leacture-list li a .img-box .hover-box .el-progress__text {font-size:26px !important; color:#fff;}
.mypage-wrap .mypage-group .leacture-list li a p {font-size:18px; margin-top: 12px; max-width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mypage-wrap .mypage-group .btn-group {justify-content: center; margin: 100px 0;}
.mypage-wrap .mypage-group .btn-group button {width: 200px; height: 56px; background:#fff; border:1px solid #191919; font-size:18px; border-radius: 8px;}
/* 마이페이지 삭제 팝업 */
.delete-pop-wrap .el-dialog--center {width: 480px; }
.delete-pop-wrap .btn-group {justify-content: center;}
.delete-pop-wrap .btn-group button {margin: 0 10px; background:#fff; border-radius: 8px;}

/* 강의실 페이지 */
.leacture-wrap { width: 100%; min-height: calc(100vh - 82px); overflow:hidden;}
.leacture-wrap h2 {display: flex; align-items: baseline; justify-content: space-between; text-align: left; font-size:26px; font-weight: 400; margin-bottom: 20px;}
.leacture-wrap h2 .user-num {font-size:13px; color:#505050;}
.leacture-wrap .live-group {align-items: flex-start; padding: 80px 0;}
.leacture-wrap .live-group .live-video {width: calc(100% - 520px); margin-right:16px; overflow-y: auto;}
.leacture-wrap .live-group .live-video .video-box {width: 100%; height:calc(100% - 62px)}
.leacture-wrap .live-group .live-chat {position: relative; width: 520px; height: 600px; background:#fff; border:1px solid #DADADA; border-radius: 8px;  box-shadow: 0 4px 10px rgba(0,0,0,0.08);} 
.leacture-wrap .live-group .live-chat .chat-header {position: relative; display: flex; align-items: center; justify-content: space-between; padding:20px 30px; text-align: center; border-bottom:1px solid #DADADA; border-radius:8px; box-shadow: 0 4px 20px rgba(0,0,0,0.02);}
.leacture-wrap .live-group .live-chat .chat-header h3 {font-size:26px; font-weight: 500;}
.leacture-wrap .live-group .live-chat .chat-header .user-box {position: relative;}
.leacture-wrap .live-group .live-chat .chat-header .user-box .user-num {padding:4px;}
.leacture-wrap .live-group .live-chat .chat-header .invite-btn {padding:4px;}
.leacture-wrap .live-group .live-chat .chat-header button {border:0; background:inherit;}
.leacture-wrap .live-group .live-chat .chat-body {position: relative; height: calc(100% - 198px); overflow-y: auto; padding:30px; }
.leacture-wrap .live-group .live-chat .chat-body .chat-list { height: 100%; } 
.leacture-wrap .live-group .live-chat .chat-body .chat-list li { display:flex; line-height: 2; margin-bottom: 20px;} 
.leacture-wrap .live-group .live-chat .chat-body .chat-list li .profile-box {width: 24px; height: 24px; border-radius: 50%; margin-right: 16px; overflow:hidden;}
.leacture-wrap .live-group .live-chat .chat-body .chat-list li .profile-box img {width: 100%; height: 100%;}
.leacture-wrap .live-group .live-chat .chat-body .chat-list li p {width: calc(100% - 120px); font-size:15px;}
.leacture-wrap .live-group .live-chat .chat-body .chat-list li .date { white-space: nowrap; width: 77px; margin-left: auto; font-size:13px; color:#999;  margin-top: 4px;} 

.leacture-wrap .live-group .live-chat .list-bg {position: absolute; left:0; top:0; width: 100%; height: 100%; background:rgba(25,25,25,0.7); }
.leacture-wrap .live-group .live-chat .user-list {position: absolute; top:50%; left: 50%; transform:translate(-50%, -50%); width: 260px; height: 60%; padding:10px 30px; border:1px solid #dbdbdb; background:#fff; overflow-y: auto; border-radius: 5px;}
.leacture-wrap .live-group .live-chat .user-list .list-header {position: relative; margin-bottom: 20px;}
.leacture-wrap .live-group .live-chat .user-list .list-header h3 {font-size:18px; font-weight: 500; text-align: center;}
.leacture-wrap .live-group .live-chat .user-list .list-header .close-btn {position: absolute; top: 5px; right: -15px; width: 20px; cursor: pointer;}
.leacture-wrap .live-group .live-chat .user-list ul li {margin-bottom: 8px;}
.leacture-wrap .live-group .live-chat .user-list ul li:last-child {margin-top: 0;}
.leacture-wrap .live-group .live-chat .user-list ul li .img-box {width: 25px; height: 25px; margin-right: 4px; background:#dbdbdb; border-radius: 50%; overflow:hidden;}
.leacture-wrap .live-group .live-chat .user-list ul li span {width: calc(100% - 90px); font-size:13px; text-align: left; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.leacture-wrap .live-group .live-chat .user-list ul li button {font-size:12px; background:#fff; border-radius: 4px; margin-left: auto;}


.leacture-wrap .live-group .live-chat .chat-input { width: 100%; font-size:13px; align-items: center;} 
.leacture-wrap .live-group .live-chat .chat-input form { display: flex; align-items: flex-end; width: 100%; height: 100%; } 
.leacture-wrap .live-group .live-chat .chat-input #message-form { padding:20px 30px;} 
.leacture-wrap .live-group .live-chat .chat-input textarea { width: calc(100% - 85px); height: 78px; background:#fff; font-size: 13px; padding: 10px 12px; margin-right: 14px; border-radius: 10px; outline: none; } 
.leacture-wrap .live-group .live-chat .chat-input .send-btn { white-space: nowrap; padding:8px 16px; background:#fff; border-radius: 8px;} 
.invite-pop-wrap .link-copy-btn {width: 340px; justify-content: space-between; margin:0 auto 20px; padding:8px;}
.invite-pop-wrap .link-copy-btn .link-box {width: calc(100% - 30px); padding:8px 12px; border:1px solid #dbdbdb; border-radius: 8px;}
.invite-pop-wrap .link-copy-btn span {width: 50px; border-radius:10px; padding:4px; text-align: center;}
.invite-pop-wrap .link-copy-btn p {width: calc(100% - 60px); padding:0 10px; color:#797979; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.invite-pop-wrap .link-copy-btn button {background:inherit; padding:0; border:0;}
.invite-pop-wrap01 .send-pop-group {justify-content: center;}
.invite-pop-wrap01 .send-pop-group .send-box {padding:10px 20px; background:#fff; margin:0 10px; border:1px solid #9FA4D4; padding:14px; border-radius: 8px; cursor:pointer;}
.invite-pop-wrap01 .send-pop-group .send-box p {line-height: 1;}
.invite-pop-wrap01 .send-pop-group .send-box p img {width: 24px; margin-right: 6px;}
.invite-pop-wrap02 h3 { margin-bottom: 20px;}
.invite-pop-wrap02 .content input {margin-bottom: 10px;}
.invite-pop-wrap02 .content input:last-child {margin-bottom: 0;}
.invite-pop-wrap02 .add-people-btn {background:inherit; border:inherit; margin-bottom: 20px;}
.invite-pop-wrap02 .btn-group {justify-content: center;}
.invite-pop-wrap02 .btn-group button {height: 50px; line-height: 50px; margin:0 10px;}


/*===========================================================================
	반응형
============================================================================*/
@media (max-width:1200px) {
    .main-wrap .banner .container {flex-wrap:wrap-reverse;}
    .main-wrap .banner .txt-box {width: 100%; text-align: center;}
    .main-wrap .banner .txt-box .btn-group {justify-content: center;}
    .main-wrap .banner .img-box {width: 50%; min-width: 300px;}
    .mypage-wrap .mypage-group .leacture-list li {position: relative; width: calc((100% / 3) - 15px);} 
    .mypage-wrap .mypage-group .leacture-list li:nth-child(3n) {margin-right: 0;}
    .mypage-wrap .mypage-group .leacture-list li:nth-child(4n) {margin-right: 15px;}
}

@media (max-width:768px) {
    /* 메인페이지 */
    .main-wrap .banner .txt-box h2 {font-size:34px; margin-bottom: 60px;}
    .main-wrap .banner .txt-box h2 strong {font-size: 40px;}
    .main-wrap .banner .txt-box .btn-group {flex-direction: column;}
    .main-wrap .banner .txt-box .btn-group button {margin-bottom: 20px; padding:18px 40px;}
    .main-wrap .banner .txt-box .btn-group a {padding:18px 40px;}

    /* 마이페이지 */
    .mypage-wrap h2 {font-size:20px; margin-bottom: 40px;}
    .mypage-wrap h2 .profile-img {width: 44px; height: 44px; margin-right: 16px;}
    .mypage-wrap h2 strong {font-size:26px;}
    .mypage-wrap .mypage-group h3 {font-size:24px;}
    .mypage-wrap .mypage-group .leacture-list li {width: calc((100% / 2) - 15px);} 
    .mypage-wrap .mypage-group .leacture-list li:nth-child(2n) {margin-right: 0;}
    .mypage-wrap .mypage-group .leacture-list li:nth-child(3n) {margin-right: 15px;}
    .mypage-wrap .mypage-group .btn-group {margin-top: 60px;}
    .mypage-wrap .mypage-group .btn-group button {width: 100px; height:44px; line-height: 44px;}
    
    /* 강의페이지 */
    .leacture-wrap .container {padding-left: 0 !important; padding-right: 0 !important;}
    .leacture-wrap .live-group {flex-direction: column; padding:40px 0;}
    .leacture-wrap .live-group .live-video {width: 100%;} 
    .leacture-wrap .live-group .live-chat {width: 100%; height: calc(40vh - 80px);}
    .leacture-wrap .live-group .live-chat .chat-header .user-box .user-list {height: 150px;}
}

@media (max-width:480px) {
    /* 마이페이지 */
    .mypage-wrap .mypage-group .leacture-list li {width: 100%; margin: 0 0 20px;}
    .mypage-wrap .mypage-group .leacture-list li:nth-child(3n) {margin-right: 0;}

    /* 강의실 상세페이지 */
    .invite-pop-wrap01 .send-pop-group {flex-direction: column;}
    .invite-pop-wrap01 .send-pop-group .sns-send-box {margin-bottom: 10px;}
    .leacture-wrap .live-group .live-chat {position: absolute; left:0; bottom:0;}
    .invite-pop-wrap .link-copy-btn {width: 100%;}
}












