<div class="container col-group">
    <div class="col-group">
        <h1 class="logo">
            <a href="/index.html"><img src="/images/" alt="로고"></a>
        </h1>
        <nav class="col-group gnb-group">
            <a href="./pages/service.html">서비스</a>
            <a href="./pages/teacher.html">강사</a>
            <a href="./pages/creator.html">크리에이터</a>
        </nav>
    </div>
    <nav class="col-group register-group">
        <button >로그인</button>
        <button @click="demoDialogVisible01 = true">무료로 시작하기</button>
    </nav>
</div>


