<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이트명</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <!-- UI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- UI JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/jquery.js"></script>
</head>
<body>
    <div id="app">
        <header id="header">
            <div class="container col-group">
                <div class="pc">
                    <div class="col-group">
                        <div class="col-group">
                            <h1 class="logo">
                                <a href="/index.html"><img src="/images/logo.png" alt="로고"></a>
                            </h1>
                            <nav class="col-group gnb-group">
                                <a href="./pages/service.html">서비스</a>
                                <a href="./pages/teacher.html">강사</a>
                                <a href="./pages/creator.html">크리에이터</a>
                            </nav>
                        </div>
                        <nav class="col-group register-group">
                            <a class="main-btn" href="/pages/mypage.html">마이페이지</a>
                            <a href="/index.html">로그아웃</a>
                        </nav>
                    </div>
                </div>
                <div class="mobile">
                    <div class="col-group">
                        <h1 class="logo">
                            <a href="/index.html"><img src="/images/logo.png" alt="로고"></a>
                        </h1>
                        <button class="menu" @click="mMennu">
                            <img src="/images/icon/icon_menu.svg" alt="">
                        </button>
                    </div>
                    <div class="side-menu-group" v-show="isShow">
                        <div class="side-menu-header"><img src="./images/icon/icon_close.svg" alt="" @click="isShow = false"></div>
                        <div class="side-menu-body">
                            <a href="">서비스</a>
                            <a href="">강사</a>
                            <a href="">크리에이터</a>
                            <a href="/pages/mypage.html">마이페이지</a>
                            <a href="/index.html">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div> 
        </header>
        <!-- //header -->

        <main id="main" class="mypage-wrap">
            <div class="container">
                <h2 class="tit">
                    <div class="profile-img"><img src="../images/profile.png" alt=""></div>
                    <strong>OOO님</strong> 환영합니다.
                </h2>
                <div class="mypage-group">
                    <h3>지난 강의 
                        <!-- 버튼 클릭시 input box와 버튼 활성화 -->
                        <!-- <button class="delete-btn"><img src="../images/icon/icon-delete.png" alt=""></button> -->
                        <!-- 활성화 버튼을 다시 클릭시 팝업 생성 -->
                        <button class="delete-btn" @click="deleteDialogVisible = true"><img src="../images/icon/icon-delete-active.png" alt=""></button>
                    </h3>
                    <ul class="leacture-list">
                        <li>
                            <el-checkbox v-model="checked1" ></el-checkbox>
                            <a href="./leactureDetail.html">
                                <div class="img-box">
                                    <img src="../images/ex-leacture.png" alt="">
                                    <div class="hover-box">
                                        <el-progress type="circle" :percentage="75"></el-progress>
                                    </div>
                                </div>
                                <p class="tit">[2022 추천] 독서 특강</p>
                            </a>
                        </li>
                        <li>
                            <el-checkbox v-model="checked2" ></el-checkbox>
                            <a href="./leactureDetail.html">
                                <div class="img-box">
                                    <img src="../images/ex-leacture.png" alt="">
                                    <div class="hover-box">
                                        <el-progress type="circle" :percentage="75"></el-progress>
                                    </div>
                                </div>
                                <p class="tit">[2022 추천] 독서 특강</p>
                            </a>
                        </li>
                        <li>
                            <el-checkbox v-model="checked3" ></el-checkbox>
                            <a href="./leactureDetail.html">
                                <div class="img-box">
                                    <img src="../images/ex-leacture.png" alt="">
                                    <div class="hover-box">
                                        <el-progress type="circle" :percentage="75"></el-progress>
                                    </div>
                                </div>
                                <p class="tit">[2022 추천] 독서 특강</p>
                            </a>
                        </li>
                        <li>
                            <el-checkbox v-model="checked4" ></el-checkbox>
                            <a href="./leactureDetail.html">
                                <div class="img-box">
                                    <img src="../images/ex-leacture.png" alt="">
                                    <div class="hover-box">
                                        <el-progress type="circle" :percentage="75"></el-progress>
                                    </div>
                                </div>
                                <p class="tit">[2022 추천] 독서 특강</p>
                            </a>
                        </li>
                        <li>
                            <el-checkbox v-model="checked5" ></el-checkbox>
                            <a href="./leactureDetail.html">
                                <div class="img-box">
                                    <img src="../images/ex-leacture.png" alt="">
                                    <div class="hover-box">
                                        <el-progress type="circle" :percentage="75"></el-progress>
                                    </div>
                                </div>
                                <p class="tit">[2022 추천] 독서 특강</p>
                            </a>
                        </li>
                        <!-- // list 클릭 시 끝난 강의를 볼 수 있다. -->
                    </ul>
                    <div class="btn-group">
                        <!-- 더보기버튼 클릭시 한줄씩 생성 -->
                        <button class="more-btn">더보기</button>
                    </div>
                </div>
            </div>
        </main>
        <!-- //main -->

        <footer id="footer"></footer>
        <!-- //footer -->

        <el-dialog
        title="삭제하시겠습니까?"
        :visible.sync="deleteDialogVisible"
        class="pop-wrap delete-pop-wrap"
        center>
            <div class="col-group btn-group">
                <button  @click="deleteDialogVisible = false">아니오</button>
                <button class="main-btn">네</button>
            </div>
        </el-dialog>
        <!-- //삭제 팝업 -->

    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    isShow: false,
                    deleteDialogVisible: false,
                    checked1: false,
                    checked2: false,
                    checked3: false,
                    checked4: false,
                    checked5: false,
                };
            },
            methods: {
                mMennu : function(){
                    this.isShow = !this.isShow
                }
            }
        })
    </script>
</body>
</html>
