<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이트명</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <!-- UI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- UI JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/jquery.js"></script>
</head>
<body>
    <div id="app">


        <main id="main" class="leacture-wrap">

            <el-dialog
            title="학생 정보 입력"
            :visible.sync="studentInfoDialogVisible"
            class="pop-wrap leacture-pop-wrap student-info-pop-wrap"
            width="40%"
            center>
            <h4>처음 들어왔을 때만 입력이 필요합니다.</h4>
                <form action="" method="GET">
                    <div class="content">
                        <label for="studentType">유형</label>
                        <div class="col-group student-type">
                            <el-radio v-model="radio" label="1">학생</el-radio>
                            <el-radio v-model="radio" label="2">학부모</el-radio>
                        </div>
                    </div>
                    <div class="content">
                        <label for="studentName">이름</label>
                        <div class="col-group">
                            <input type="text" name="studentName" id="studentName" placeholder="이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="content">
                        <label for="studentgrade">학년</label>
                        <div class="col-group">
                            <select name="studentgrade" id="studentgrade">
                                <option value="">학년을 선택해주세요</option>
                                <option value="">초등학생</option>
                                <option value="">중학교 1학년</option>
                                <option value="">중학교 2학년</option>
                                <option value="">중학교 3학년</option>
                                <option value="">고등학교 1학년</option>
                                <option value="">고등학교 2학년</option>
                                <option value="">초등학생</option>
                                <option value="">성인</option>
                            </select>
                        </div>
                    </div>
                    <div class="content">
                        <label for="studentPhone">휴대폰</label>
                        <div class="col-group phone-group">
                            <select name="" id="">
                                <option value="">010</option>
                                <option value="">011</option>
                                <option value="">019</option>
                            </select>
                            <span>-</span>
                            <input type="text" placeholder="1234">
                            <span>-</span>
                            <input type="text" placeholder="5678">
                            
                        </div>
                    </div>
                    <div class="content">
                        <label for="studentEmail">이메일</label>
                        <div class="col-group email-confirm-group email-group">
                            <input type="text" name="userEmail" id="userEmail" placeholder="이메일을 입력해주세요.">
                            <span>@</span>
                            <select name="" id="">
                                <option value="">naver.com</option>
                            </select>
                            <!-- 버튼 클릭시 01번 팝업은 닫아주세요. -->
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="cancel-btn">취소하기</button> 
                        <button class="main-btn create-btn">입장하기</button>
                    </div>
                </form>
            </el-dialog>
            <!-- //학생정보 팝업 -->
        </main>

    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    studentInfoDialogVisible: true,
                    radio: '1'
                };
            },
        })
    </script>
</body>
</html>
